body {
    background-color: #121421;
    position: relative;
}

.Header{
    width: 101vw;
    height: 99vw;
    position: fixed;
    margin: 0vw 0vw 0vw -1vw;
    padding: 0vw 0vw 0vw 0vw;
}

.Footer{
    width:101vw;
    height: 99vw;
    position: fixed;
    margin: -44px 0px 10px -1px;
    padding: 0vw 0vw 0vw 0vw;
}